/*盒子容器*/
.index-container {
  display: flex;
  background-color: #FAFAFA;
  width: 100%;
  height: 100%;
  > .content-card__container {
    display: flex;
    margin: 1.815vh 10.9375vw 2.541vh;
    background-color:rgba(255,255,255,0.15);
    > .content-container__left {
      width: 19.0625vw;
      background-color: #FFFFFF;
      /*左右盒子间隙的宽 = 总宽度78.126vw - 左盒子宽 - 右盒子宽*/
      margin-right: calc(78.125vw - 19.0625vw - 58.021vw);
      > .content-container__left--item {
        cursor: pointer;
        padding: 0 15px;
        > .item-title {
          color: black;
          font-size: 13px;
          font-weight: 500;
          > .content-container__item--label {
            margin-left: 5px;
            font-size: 14px;
            user-select: none;
            transition: all 0.5s;
          }
        }
      }
      > .content-container__left--item.active {
        border-left: 4px solid #673EF9;
        background-color: #F5F5F5;
        > .item-title {
          > .content-container__item--label {
            color: #673EF9;
          }
        }
      }
      > .content-container__left--item + .content-container__left--item {
          margin-top: 15px;
      }
    }
  }
}



