/*更多*/
.more-ico {
    height: 20px;
    width: 20px;
    cursor: pointer;
    user-select: none;
    background-image: url(../images/icon.png);
    background-position: -27px -25px;
}
/*上传*/
.upload-ico {
    height: 20px;
    width: 20px;
    cursor: pointer;
    user-select: none;
    background-image: url(../images/icon.png);
    background-position: -65px -25px;
}
/*修改*/
.revamp-ico {
    height: 20px;
    width: 20px;
    cursor: pointer;
    user-select: none;
    background-image: url(../images/icon.png);
    background-position: -102px -25px;
}
/*删除*/
.delete-ico {
    height: 20px;
    width: 20px;
    cursor: pointer;
    user-select: none;
    background-image: url(../images/icon.png);
    background-position: -138px -25px;
}
/*共享*/
.share-ico {
    height: 20px;
    width: 20px;
    cursor: pointer;
    user-select: none;
    background-image: url(../images/icon.png);
    background-position: -178px -25px;
}
/*确认*/
.confirm-ico {
    height: 20px;
    width: 20px;
    cursor: pointer;
    user-select: none;
    background-image: url(../images/icon.png);
    background-position: -233px -25px;
}
/*取消*/
.cancel-ico {
    height: 20px;
    width: 20px;
    cursor: pointer;
    user-select: none;
    background-image: url(../images/icon.png);
    background-position: -267px -25px;
}
/*提示*/
.hint-ico {
    height: 50px;
    width: 50px;
    cursor: pointer;
    user-select: none;
    background-image: url(../images/icon.png);
    background-position: -320px -9px;
}
/*消息*/
.message-ico {
    height: 24px;
    width: 24px;
    cursor: pointer;
    user-select: none;
    background-image: url(../images/icon.png);
    background-position: -25px -69px;
}
/*直线*/
.straightLine-ico {
    height: 10px;
    width: 88px;
    cursor: pointer;
    user-select: none;
    background-image: url(../images/icon.png);
    background-position: -29px -131px;
}
/*logo*/
.logo-ico {
    height: 35px;
    width: 175px;
    cursor: pointer;
    user-select: none;
    background-image: url(../images/icon.png);
    background-position: -32px -188px;
}
/*用户*/
.user-ico {
    height: 27px;
    width: 26px;
    cursor: pointer;
    user-select: none;
    background-image: url(../images/icon.png);
    background-position: -36px -251px;
}



